# 执行完命令后是否添加一行空行
add_newline = false
scan_timeout = 2000

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$python\
$character"""

[username]
style_user = 'white bold'
style_root = 'black bold'
format = "[\\[](bold #fa9fab)[$user](bold #afafaf)"
disabled = true
show_always = true
aliases = { "corpuser034g" = "matchai" }

[hostname]
ssh_only = false
format = "[$ssh_symbol](bold blue)[@](italic #ffff0a)[$hostname](bold #afafaf)[\\]](bold #fa9fab)"
trim_at = '.companyname.com'
disabled = true

[directory]
truncation_length = 1
format = "[\\[](bold green)[$path]($style)[\\]](bold green) "
style = "bold #faaa3e"

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "c"
untracked = "u"
modified = "m"
staged = "s"
renamed = "r"
deleted = "d"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"
