* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 10px;
}

@import "themes/theme.conf";

#window {
    color: #f5a98f;
    margin-left: 8px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.5);
    margin: 5px 5px 5px 5px;
}

tooltip {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 5px;
    border-width: 0px;
}

#workspaces {
    margin-left: 5px;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    background: #222436;
    border-radius: 5px;
    margin: 4px 3px 4px 3px; /*上右下左*/
    color: #cdd6f4;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: #86ffff;
    color: #311214;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 3px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: #f5c2e7;
    color: #313244;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#clock {
    background: #a6da95;
    color: #000000;
    border-radius: 5px;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#network {
    background: #f5c2e7;
    color: #000000;
    border-radius: 5px;
    opacity: 1;
    margin: 4px 5px 4px 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#bluetooth{
    background: #91d7e3;
    color: #000000;
    border-radius: 5px;
    opacity: 1;
    margin: 4px 5px 4px 5px;
    padding-left: 10px;
    padding-right: 10px;

}
#pulseaudio{
    background: #f5a97f;
    color: #000000;
    opacity: 1;
    margin: 4px 5px 4px 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
/* #pulseaudio-slider { */
/*     padding: 0px 0px 0px 0px; */
/*     margin: 4px 0px 4px 5px; */
/* } */
/* #pulseaudio-slider slider { */
/*     min-height: 0px; */
/*     min-width: 0px; */
/*     opacity: 0; */
/*     background-image: none; */
/*     border: none; */
/*     box-shadow: none; */
/* } */
/* #pulseaudio-slider trough { */
/*     min-height: 0px; */
/*     min-width: 100px; */
/*     border-radius: 5px; */
/*     background-color: #000000; */
/* } */
/* #pulseaudio-slider highlight { */
/*     min-width: 0px; */
/*     border-radius: 5px; */
/*     background-color: #ef8faa; */
/* } */
#cpu {
    color: #11111b;
    background: #c6a0f6;
    opacity: 1;
    margin: 4px 0px 4px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    padding-right: 5px;
}
#memory {
    background: #c6a0f6;
    color: #11111b;
    opacity: 1;
    margin: 4px 5px 4px 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 5px;
    padding-right: 10px;
}

#tray {
    background: #b7bdf8;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 4px 5px 4px 5px;
}

#tray menu {
    background: #21212f;
    color: #cdd6f4;
    padding-left: 5px;
    padding-right: 5px;
}
#custom-power {
    background: #dce2f1;
    color: #622792;
    border-radius: 5px;
    padding: 0px 8px 0px 10px;
    margin: 4px 8px 4px 5px;
}
/* #custom-logo { */
/*     background: transparent; */
/*     color: #aafaaa; */
/*     border-radius: 9px; */
/*     padding-left: 15px; */
/*     padding-right: 10px; */
/*     margin: 4px 10px 4px 10px; */
/*     font-size: 20px; */
/* } */
