@-moz-document url("about:newtab"), url("about:home") {
    html, body {
        background: url("./watergirl.jpg") center/cover no-repeat fixed !important;
    }
    /* 可选：隐藏原有可能会遮挡背景的白色块 */
    .activity-stream,
    .outer-wrapper {
        background: transparent !important;
    }
}

a:link {
	text-decoration: underline !important;
	color: #0066cc !important;
}

